rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /jobs/{jobId} {
      allow create: if request.auth != null && request.resource.data.clientId == request.auth.uid;
      allow read: if request.auth != null && (
        resource.data.clientId == request.auth.uid ||
        resource.data.status == "open" ||
        resource.data.providerId == request.auth.uid
      );
      allow update: if request.auth != null && request.auth.uid == resource.data.providerId;
      allow delete: if false;
    }

    match /providers/{providerId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == providerId;
    }

    match /clients/{clientId} {
      allow read, write: if request.auth != null && request.auth.uid == clientId;
    }

    match /subscriptions/{subId} {
      allow read, write: if request.auth != null && request.auth.uid == subId;
    }

    match /{document=**} { allow read, write: if false; }
  }
}
